{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}
{% load staticfiles %}

{% for proj in projects %}
{{proj.name}}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{proj.project_image.url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{proj.project_title}}</h5>
      <p class="card-text">{{proj.project_description}}</p>
      <a href="{{proj.project_link}}" class="card-link">Open</a>

      <form action="/review/{{proj.id}}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
    
        {% bootstrap_form review %}
        <input type="submit" class="btn btn-success btn-lg" value="Post">
      </form>
     
      <fieldset class="rating">
        <legend>Please rate:</legend>
        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
    </fieldset>

    </div>
  </div>
  <br>
  <br>
{% endfor %}
{% endblock %} 