{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}
{% load staticfiles %}
<div class="container">
<div class="row">
    {% for proj in projects %}
  <div class="col-md-4">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{proj.project_image.url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{proj.project_title}}</h5>
      <p class="card-text">{{proj.project_description}}</p>
      <a href="{{proj.project_link}}" class="card-link">Open</a>
      
      <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{proj.id}}">
    Rate
  </button>
  <br>
  <p>{{proj.average_rating}}&#x2605;</p>


  {% for review in proj.review.all %}
  <p>{{review.average_rating}}</p>
  {% endfor %}
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal{{proj.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><fieldset class="rating">
              <legend>Please rate:</legend>
              <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
              <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
              <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
              <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
              <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
          </fieldset></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
      <form action="{%url 'review' proj.id %}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
    
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-success btn-lg" value="Post">
      </form>
     
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  

    </div>
  </div>
  </div>
  {% endfor %}
  </div>
 
  <br>
  <br>
</div>
{% endblock %} 