<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand"><img id="logo" src="https://st2.depositphotos.com/1024516/7331/v/950/depositphotos_73314199-stock-illustration-vector-star-logo-design-template.jpg" alt=""></a>
    <form class="form-inline" action="{% url 'search-projects' %}">
      <input class="form-control mr-sm-2" name='search' type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>